@model IEnumerable<Customer_Management.Models.TypeOfCustomer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListOfCustomerType</title>
</head>
<body>
    <p>
        @Html.ActionLink("Tạo mới", "AddCustomerType")
    </p>
    <table class="table table-striped table-bordered" style="text-align:center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PictureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                Nghiệp vụ xử lý
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Content/img/@item.PictureId" width="120" height="120" class="img-thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.ActionLink("Sửa thông tin", "Edit", new { Id = item.IdOftype }) |
                    @Html.ActionLink("Xóa thông tin", "DeleteCustomerType", new { Id = item.IdOftype })
                </td>
            </tr>
        }
    </table>
</body>
</html>